<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browser" value="chrome"></parameter>
    <test verbose="2" preserve-order="true" name="Mazen Task">
        <classes>
            <class name="tests.HomePageTest">
                <methods>
                    <include name="unloggedCustomerCanSearchForAJob"/>
                    <include name="customerNotifiedWhenNoOffersMatchGivenCriteria"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>